<p style="color: green"><%= notice %></p>
<h1><%= @company.name %></h1>
<br>
<h3>Stations</h3>

<div id="stations">
  <% @stations.each do |station| %>
    <%= link_to "#{ station.name }", station_path(station) %>
  <% end %>
</div>

<%= link_to "New station", new_station_path(company_id: @company.id) %>
<%= @company.id %>